<a href="https://colab.research.google.com/github/Arturchik27/ML/blob/main/%D0%9B%D0%B0%D0%B1%D0%B0%E2%84%963.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv("/content/drive/MyDrive/winequality-red.csv", sep=',')
df.head(10)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]

In [ ]:
c = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
y = df['quality'] # целевая переменная

In [ ]:
X = df.drop('quality', axis = 1) # признаки

In [ ]:
X.shape

(1599, 11)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(
    # метод для поиска решения. Для небольших датасетов лучше подходит liblinear, sag и saga -- для больших.
    # Варианты: newton-cg, lbfgs, liblinear, sag, saga
    solver='liblinear',
    # норма для регуляризации. Варианты: l2, l1.
    penalty='l1',
    # параметр регуляризации. Чем меньше, тем сильнее регуляризация. Положительный.
    C=1e4,
    # параметр для остановки поиска решения.(прекращается процесс обучения когда приближаемся к локальному минимому равному переменной tol)
    tol=1e-4,
    # Так как распознается 2 класса. 
    multi_class='ovr'
    )

In [ ]:
model.fit(X, y)

LogisticRegression(C=10000.0, multi_class='ovr', penalty='l1',
                   solver='liblinear')

In [ ]:
preds = model.predict(X) #предсказанные значения

In [ ]:
#Матрица ошибок
from sklearn import metrics
conf_mat = metrics.confusion_matrix(y, preds)
conf_mat = pd.DataFrame(conf_mat, index=model.classes_, columns=model.classes_)
conf_mat

   3  4    5    6   7  8
3  1  0    8    1   0  0
4  0  0   37   15   1  0
5  0  0  530  148   3  0
6  0  0  225  402  11  0
7  0  0   14  163  22  0
8  0  0    0   13   5  0

In [ ]:
pred_prob = model.predict_proba(X) #выдает результат в виде вероятности

In [ ]:
#посмотрим на наши признаки
model.coef_

array([[ 7.23844205e-01,  7.64358913e+00,  2.72209194e+00,
         4.91635696e-02,  1.32531923e+01,  1.28680483e-01,
        -8.82433413e-02, -1.50058684e+01,  9.54716160e+00,
        -1.98417023e+00, -1.66416847e+00],
       [-7.57031078e-02,  3.64863347e+00,  8.57798369e-01,
         1.73744848e-01,  2.69257545e+00, -2.60080174e-02,
        -9.82802962e-03, -5.38212643e+00,  2.24230649e+00,
        -1.23402127e+00, -2.59392737e-01],
       [-8.21227887e-02,  1.73240306e+00,  6.28213732e-01,
        -6.36756080e-02,  3.07146959e+00, -1.94717615e-02,
         1.85604382e-02,  5.13802364e+00,  6.13536020e-02,
        -2.41984351e+00, -8.88205191e-01],
       [ 7.11385334e-02, -1.70946265e+00, -1.32779275e+00,
        -2.07474728e-02, -2.82209361e-01,  2.30052422e-02,
        -1.22440333e-02, -1.28789774e+00,  1.61479614e-01,
         8.99817088e-01,  2.08203941e-01],
       [ 8.25333236e-02, -3.47639107e+00, -1.11000324e-01,
         1.41962808e-01, -8.11330227e+00,  1.28704388e-02,
        -1.62477269e-02, -5.10418153e+00, -7.08515289e-01,
         3.06204450e+00,  8.64098143e-01],
       [-4.52659531e-01,  1.76007196e+00,  3.27975261e+00,
        -8.74291961e-02, -2.99042154e+01,  1.28982822e-02,
        -2.50793726e-02,  2.23134209e+00, -6.36481133e+00,
         3.77269961e+00,  1.19223978e+00]])

In [ ]:
len(model.coef_[0])

11

In [ ]:
# для наглядности сделаем все в словаре, тк после удаления можем потерять нумерацию столбцов
col = [i for i in range(12)]
listValues = model.coef_[0]
myDict = {col[i]:listValues[i] for i in range(0, len(col)-1, 1)} 
for key in myDict:
    print(key, '->', myDict[key])

0 -> 0.7238442051866769
1 -> 7.643589128380416
2 -> 2.7220919358245244
3 -> 0.04916356955082271
4 -> 13.25319230455009
5 -> 0.12868048339214577
6 -> -0.08824334129996496
7 -> -15.005868386263243
8 -> 9.547161598153535
9 -> -1.984170232339853
10 -> -1.6641684675133597

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/winequality-red.csv')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
y = df1['quality'] # целевая переменная
X = df1.drop('quality', axis = 1) # признаки
X.shape

(1599, 11)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
# импортируем класс классификатора по ближайшим соседям
from sklearn.neighbors import KNeighborsClassifier

# создадим наш классификатор
clf = KNeighborsClassifier(n_neighbors=20)
# обучим классификатор на тренировочной выборке
clf.fit(X_train, y_train)
# подсчитаем долю верных ответов алгоритма на тестовой выборке.
clf.score(X_test, y_test)

0.5225